<div ng-controller="patientController as vm">
    <div class="panel panel-primary">
        <div class="panel panel-header">
            <h1>Patient Update</h1>
            <button ng-click="vm.goBackToView();" type="button" class="btn btn-primary">Back</button>
            <div class="panel-body">
                <form role="form" name="patientUpdateForm" class="form-horizontal" novalidate ng-submit="vm.save()">
                    <fieldset>
                        <legend>Core Info</legend>
                        <div>
                            <label for="userName" class="col-sm-3 control-label">User Name</label>
                            <div class="col-sm-9">
                                <input type="text" id="userName" placeholder="user name" class="form-control" ng-model="vm.patient.userName" />
                            </div>
                        </div>
                        <div>
                            <label for="firstName" class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-9">
                                <input type="text" id="firstName" placeholder="first name" class="form-control" ng-model="vm.patient.firstName" />
                            </div>
                            <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" id="lastName" placeholder="last name" class="form-control" ng-model="vm.patient.lastName" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Address</legend>
                        <div>
                            <label for="addressLine1" class="col-sm-3 control-label">Address Line 1</label>
                            <div class="col-sm-9">
                                <input type="text" id="addressLine1" placeholder="address line 1" class="form-control" ng-model="vm.patient.addressLine1"/>
                            </div>
                            <label for="addressLine2" class="col-sm-3 control-label">Address Line 2</label>
                            <div class="col-sm-9">
                                <input type="text" id="addressLine2" placeholder="address line 2" class="form-control" ng-model="vm.patient.addressLine2"/>
                            </div>
                            <label for="city" class="col-sm-3 control-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" id="city" placeholder="city" class="form-control" ng-model="vm.patient.city"/>
                            </div>
                        </div>
                        <div>
                            <label for="county" class="col-sm-3 control-label">County</label>
                            <div class="col-sm-9">
                                <input type="text" id="county" placeholder="county" class="form-control" ng-model="vm.patient.county"/>
                            </div>
                            <label for="state" class="col-sm-3 control-label">State</label>
                            <div class="col-sm-9">
                                <input type="text" id="state" placeholder="state" class="form-control" ng-model="vm.patient.state"/>
                            </div>
                            <label for="zipCode" class="col-sm-3 control-label">Zip Code</label>
                            <div class="col-sm-9">
                                <input type="text" id="zipCode" placeholder="zip code" class="form-control" ng-model="vm.patient.zipCode"/>
                            </div>
                            <label for="country" class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-9">
                                <input type="text" id="country" placeholder="country" class="form-control" ng-model="vm.patient.country"/>
                            </div>
                            <label for="telephone" class="col-sm-3 control-label">Telephone</label>
                            <div class="col-sm-9">
                                <input type="tel" id="telephone" placeholder="telephone" class="form-control" ng-model="vm.patient.telephone"/>
                            </div>
                            <label for="telephone1" class="col-sm-3 control-label">Telephone 2</label>
                            <div class="col-sm-9">
                                <input type="tel" id="telephone1" placeholder="telephone 2" class="form-control" ng-model="vm.patient.telephone2"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Patient Info</legend>
                        <div>
                            <label for="ssn" class="col-sm-3 control-label">SSN</label>
                            <div class="col-sm-9">
                                <input type="text" id="ssn" placeholder="social security number" class="form-control" ng-model="vm.user.ssn" />
                            </div>
                            <label for="injuryType" class="col-sm-3 control-label">InjuryType</label>
                            <div class="col-sm-9">
                                <input type="text" id="injuryType" placeholder="injury type" class="form-control" ng-model="vm.user.injuryType" />
                            </div>
                        </div>
                    </fieldset>
                    <input ng-disabled="vm.saving" type="submit" class="btn btn-primary" value="Submit" ng-disabled="patientUpdateForm.$invalid" />
                    <button class="btn btn-danger" ng-click="vm.deletePatient()">Delete Patient</button>
                </form>
                <div ng-show="vm.errorMessage" class="alert alert-danger">
                    {{vm.errorMessage}}
                </div>

                <div ng-show="vm.successMessage" class="alert alert-success">
                    {{vm.successMessage}}
                </div>
            </div>
        </div>
    </div>
</div>
