<div ng-controller="patientController as vm">
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <h2>Patient List</h2>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <div>
                        <input type="text" id="searchField" name="searchField" ng-model="vm.searchText" />
                        <button class="btn btn-success" ng-click="vm.search(vm.searchText)">Search</button>
                        <button class="btn btn-danger" ng-click="vm.clear()">Clear</button>
                    </div>
                <tr>
                    <td class="col-sm-2">Patient Name</td>
                    <td class="col-sm-2">Patient Location</td>
                    <td class="col-sm-2">Injury Type</td>
                    <td class="col-sm-3">Social Security Number</td>
                </tr>
                </thead>
                <tbody>
                    <tr ng-click="vm.openWindow(patient)" ng-repeat="patient in vm.patients track by patient.id">
                        <td>{{patient.firstName + " " + patient.lastName}}</td>
                        <td>{{patient.city}}</td>
                        <td>{{patient.injuryType}}</td>
                        <td>{{patient.socialSecurityNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btn-group">
            <button class="btn" ng-click="vm.addPatient()">Add Patient</button>
        </div>
    </div>
</div>