<div ng-controller="excerciseController as vm">
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <h2>Excercise List</h2>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <div>
                    <input type="text" id="searchField" name="searchField" ng-model="vm.searchText"/>
                    <button class="btn btn-success" ng-click="vm.search(vm.searchText)">Search</button>
                    <button class="btn btn-danger" ng-click="vm.clear()">Clear</button>
                </div>
                <tr>
                    <td class="col-sm-2">Excercise ID</td>
                    <td class="col-sm-2">Excercise Name</td>
                    <td class="col-sm-6">Description</td>
                    <td class="col-sm-2">Repetitions</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-click="vm.openWindow(excercise)" ng-repeat="excercise in vm.excercises track by excercise.id">
                    <td>{{excercise.id}}</td>
                    <td>{{excercise.name}}</td>
                    <td>{{excercise.description}}</td>
                    <td>{{excercise.repetitions}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="btn-group">
            <button class="btn" ng-click="vm.addExcercise()">Add Excercise</button>
        </div>
    </div>
    <div class="panel panel-primary" ng-show="vm.isAddExe">
        <div class="panel-header">
            <h2>Add Excercise</h2>
            <form role="form" name="newExcerciseForm" class="form-horizontal" novalidate ng-submit="vm.saveNewExcercise()">
                <div>
                    <label for="name" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="name" placeholder="Name" class="form-control" ng-model="vm.newExcercise.name" required/>
                        <span class="error" ng-show="newExcerciseForm.name.$error.required">*</span>
                    </div>
                    <label for="description" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9">
                        <input type="text" id="description" placeholder="Description" class="form-control" ng-model="vm.newExcercise.description" required/>
                        <span class="error" ng-show="newExcerciseForm.description.$error.required">*</span>
                    </div>
                    <label for="reps" class="col-sm-3 control-label">Repetitions</label>
                    <div class="col-sm-9">
                        <input type="text" id="reps" placeholder="Repetitions" class="form-control" ng-model="vm.newExcercise.repetitions" required/>
                        <span class="error" ng-show="newExcerciseForm.repetitions.$error.required">*</span>
                    </div>
                </div>
                <div>
                    <input type="submit" class="btn" value="Save" ng-disabled="newExcerciseForm.$invalid"/>
                </div>
            </form>
        </div>
    </div>
</div>
