<div>
    <h2 class="page-title">Excercises</h2>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Excercise Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input type="text" class="form-control" placeholder="Excercise Name" ng-model="vm.excerciseName"/>
            </td>
            <td>
                <button type="submit" class="btn btn-primary" ng-click="vm.addExcercise()"
                        tooltip="Click here to add new excercise" tooltip-placement="right">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </td>
        </tr>

        <tr ng-repeat="excercise in vm.excercises">
            <td ng-hide="vm.currentEdit[excercise.id]">{{excercise.name}}</td>
            <td ng-show="vm.currentEdit[excercise.id]">
                <input type="text" class="form-control" ng-model="vm.itemToEdit.name"/>
            </td>

            <td>
                <div class="btn-group" dropdown ng-hide="vm.currentEdit[excercise.id]">
                    <button class="btn btn-success dropdown-toggle" dropdown-toggle type="button">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="vm.addExcercise()">Add</a></li>
                        <li><a ng-click="vm.editExcercise(excercise)">Edit</a></li>
                        <li><a ng-click="vm.deleteExcercise(excercise.id)">Delete</a></li>
                    </ul>
                </div>

                <button class="btn btn-success" ng-show="vm.currentEdit[excercise.id]" ng-click="vm.saveItem(excercise)">Save</button>
                <button class="btn btn-danger" ng-show="vm.currentEdit[excercise.id]" ng-click="vm.cancelEdit(excercise.id)">Cancel</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
