<div class="container" ng-controller="userEntryController as vm">
    <div class="row">
        <div class="panel panel-header">
            <h1>User Entry Form</h1>    
        </div>        
        <form role="form" name="userEntryForm" class="form-horizontal" novalidate ng-submit="vm.save()">
            <fieldset>
                <legend>Core</legend>
                <div>
                    <label for="userName" class="col-sm-3 control-label">User Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="userName" placeholder="user name" class="form-control" ng-model="vm.user.userName"/>
                    </div>
                </div>
                <div>
                    <label for="firstName" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName" placeholder="first name" class="form-control" ng-model="vm.user.firstName"/>
                    </div>
                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" placeholder="last name" class="form-control" ng-model="vm.user.lastName"/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Address</legend>
                <div>
                    <label for="addressLine1" class="col-sm-3 control-label">Address Line 1</label>
                    <div class="col-sm-9">
                        <input type="text" id="addressLine1" placeholder="address line 1" class="form-control" ng-model="vm.user.addressLine1"/>
                    </div>
                    <label for="addressLine2" class="col-sm-3 control-label">Address Line 2</label>
                    <div class="col-sm-9">
                        <input type="text" id="addressLine2" placeholder="address line 2" class="form-control" ng-model="vm.user.addressLine2"/>
                    </div>
                    <label for="city" class="col-sm-3 control-label">City</label>
                    <div class="col-sm-9">
                        <input type="text" id="city" placeholder="city" class="form-control" ng-model="vm.user.city"/>
                    </div>
                </div>
                <div>
                    <label for="county" class="col-sm-3 control-label">County</label>
                    <div class="col-sm-9">
                        <input type="text" id="county" placeholder="county" class="form-control" ng-model="vm.user.county"/>
                    </div>
                    <label for="state" class="col-sm-3 control-label">State</label>
                    <div class="col-sm-9">
                        <input type="text" id="state" placeholder="state" class="form-control" ng-model="vm.user.state"/>
                    </div>
                    <label for="zipCode" class="col-sm-3 control-label">Zip Code</label>
                    <div class="col-sm-9">
                        <input type="text" id="zipCode" placeholder="zip code" class="form-control" ng-model="vm.user.zipCode"/>
                    </div>
                    <label for="country" class="col-sm-3 control-label">Country</label>
                    <div class="col-sm-9">
                        <input type="text" id="country" placeholder="country" class="form-control" ng-model="vm.user.country"/>
                    </div>
                    <label for="telephone" class="col-sm-3 control-label">Telephone</label>
                    <div class="col-sm-9">
                        <input type="tel" id="telephone" placeholder="telephone" class="form-control" ng-model="vm.user.telephone"/>
                    </div>
                    <label for="telephone1" class="col-sm-3 control-label">Telephone 2</label>
                    <div class="col-sm-9">
                        <input type="tel" id="telephone1" placeholder="telephone 2" class="form-control" ng-model="vm.user.telephone2"/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>User Role</legend>
                <div>
                    <div class="radio col-md-offset-3">
                        <label style="padding-right: 10px;"><input type="radio" style="padding-right: 10px;" name="admin" value="1" ng-model="vm.user.userRole"/>Admin</label>
                        <label style="padding-right: 10px;"><input type="radio" style="padding-right: 10px;" name="doctor" value="2" ng-model="vm.user.userRole"/>Doctor</label>
                        <label style="padding-right: 10px;"><input type="radio" style="padding-right: 10px;" name="therapist" value="3" ng-model="vm.user.userRole"/>Therapist</label>
                        <label style="padding-right: 10px;"><input type="radio" style="padding-right: 10px;" name="patient" value="4" ng-model="vm.user.userRole"/>Patient</label>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Patient Info</legend>
                <div>
                    <label for="ssn" class="col-sm-3 control-label">SSN</label>
                    <div class="col-sm-9">
                        <input type="text" id="ssn" placeholder="social security number" class="form-control" ng-model="vm.user.ssn"/>
                    </div>
                    <label for="injuryType" class="col-sm-3 control-label">InjuryType</label>
                    <div class="col-sm-9">
                        <input type="text" id="injuryType" placeholder="injury type" class="form-control" ng-model="vm.user.injuryType"/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Provider Information</legend>
                <div>
                    <label for="location" class="col-sm-3 control-label">Location</label>
                    <div class="col-sm-9">
                        <input type="text" id="location" placeholder="location" class="form-control" ng-model="vm.user.location"/>
                    </div>
                    <label for="deaNumber" class="col-sm-3 control-label">DEA Number</label>
                    <div class="col-sm-9">
                        <input type="text" id="deaNumber" placeholder="DEA Number" class="form-control" ng-model="vm.user.deaNumber"/>
                    </div>
                </div>
            </fieldset>
            <input type="submit" class="btn btn-primary" value="Submit" ng-disabled="userEntryForm.$invalid"/>
        </form>
    </div>
</div>
